# RHEL7 - Vagrant lab system
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# After installation reboot
reboot
# Root password
rootpw --plaintext vagrant
# Use text mode install
text
firstboot --disable
# Setup network interface
network --device=eth0 --bootproto=dhcp --onboot=yes --activate
# System language
lang en_US.UTF-8
# Logging
logging --level=debug
# System timezone
timezone --utc Etc/UTC
# Firewall
firewall --disable
# SELinux
selinux --permissive
# Accept EULA
eula --agreed
# Services
services --enabled=ntpd,ntpdate
# Add Vagrant user
user --name=vagrant --plaintext  --password=vagrant --groups=vagrant,wheel
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Automatically create partition, LVM
autopart --type=lvm

%packages --ignoremissing --excludedocs
@core
epel-release
dkms
kernel-devel
kernel-headers
make
automake
perl
gcc
gcc-c++
bzip2
which
wget
ntp
ntpdate
# mandatory packages in the @core group
-btrfs-progs
-iprutils
-kexec-tools
-plymouth
# default packages in the @core group
-*-firmware
-dracut-config-rescue
-kernel-tools
-libsysfs
-microcode_ctl
-NetworkManager*
-postfix
-rdma

%end

%post
# Apply Vagrant public key.
echo "Applying Vagrant public key"
sudo mkdir -p /home/vagrant/.ssh
ls -al /
sudo cp /vagrant/vagrant.pub /home/vagrant/.ssh/authorized_keys

# Change owner and group on SSH authorized keys file for vagrant user
sudo chown -R vagrant:vagrant /home/vagrant/.ssh
sudo chmod 700 /home/vagrant/.ssh
sudo chmod 600 /home/vagrant/.ssh/authorized_keys

# Configure Vagrant for no password sudo
echo "Configuring Vagrant for passwordless sudo"
sudo cat > /etc/sudoers.d/vagrant <<'EOF'
Defaults:vagrant !requiretty
vagrant ALL=(ALL) NOPASSWD: ALL
EOF

# Change permissions on vagrant sudo file
sudo chmod 440 /etc/sudoers.d/vagrant
%end